@import './reset.scss';

.banner {
    width: 400px;
    height: 300px;
    margin: 20px auto;
    background: url('~@assets/images/bg.jpg') no-repeat center center;
}
.list {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    .item {
        text-align: center;
        font-size: 18px;
        color: purple;
        & + .item {
            margin-left: 50px;
        }
    }
}